
.row{
    --bs-gutter-x: 0;
}



/* login */

.frame{
    width: 400px;
    height: 400px;
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 10px;
}

.forget-password{
    text-align: end;
    width: 100%;
    color: blue;
}

.forget-password:hover{
    text-decoration: underline;
    cursor: pointer;
}


/*Layout/header*/

.header{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    padding: 20px 0px;
    border-radius: 0 0 5px 5px;
}


/* animal record input spaces */

.rightSpace{
    padding-right: 7px;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field, 
input[type="date"]:in-range::-webkit-datetime-edit-month-field, 
input[type="date"]:in-range::-webkit-datetime-edit-day-field, 
input[type="date"]:in-range::-webkit-datetime-edit-text { 	color: transparent; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

/* landing-page */

.shadow{
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
}

.list:hover{
    color: green;
    size: 14px;
    cursor: pointer;
}

.bg-color{
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.heading{
    width: 70%;
    text-align: center;
    font-weight: 700;
}

.border-custom{
    border-top: 2px solid #fc6f03;
}

.bg-color2{
    background: linear-gradient(to right, #feb47b, #ff7e5f);
}